:root {
  --mainColor: #2b4d9e;
  --mainColor10: #eef1fa;
  --mainColor30: #cbd6f1;
  --secondColor: #e2222a;
  --secondColor10: #fdeff0;
  --secondColor30: #f9d0d2;
  --gold: #ffd700;
  --whiteColor: #ffffff;
  --blackColor: #1f1f1f;
  --bodyColor: #f3f3f9;
  --textColor: #898989;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}

@font-face {
  font-family: montserrat;
  font-display: swap;
  src: url(../webfonts/montserrat-Arabic-Regular.woff);
}
* {
  font-family: "montserrat", Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #d8d8d8;
}

::-webkit-scrollbar-thumb {
  background-color: #b5b5b5;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
  transition: var(--transition) !important;
}

a:hover {
  text-decoration: none;
  color: var(--mainColor);
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

body {
  overflow-x: hidden;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.btn {
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.btn i {
  font-size: 16px;
}

.btn:focus {
  box-shadow: none;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}

input {
  accent-color: var(--mainColor) !important;
}

.odometer-inside {
  direction: ltr !important;
}

.fancybox__container {
  z-index: 1999;
}

::-moz-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: rtl;
}

.swiperContainer {
  position: relative;
}
.swiperContainer .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainColor);
  background-color: var(--whiteColor);
  border-radius: 2px;
  transition: var(--transition);
}
.swiperContainer .swiper-button-next::after,
.swiperContainer .swiper-button-prev::after {
  content: "" !important;
  background-image: url(../img/icons/arrow.svg);
  background-size: contain;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: var(--transition);
}
.swiperContainer .swiper-button-next:hover,
.swiperContainer .swiper-button-prev:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.swiperContainer .swiper-button-next:hover::after,
.swiperContainer .swiper-button-prev:hover::after {
  filter: invert(1);
}
.swiperContainer .swiper-button-next {
  left: -60px;
  right: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-next {
    left: 0px;
  }
}
.swiperContainer .swiper-button-prev {
  right: -60px;
  left: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-prev {
    right: 0px;
  }
}
.swiperContainer .swiper-button-prev::after {
  transform: scaleX(-1);
}
.swiperContainer .swiper-pagination {
  width: auto !important;
  left: 50% !important;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 2px;
  padding: 0px 10px;
  bottom: 0;
  transition: var(--transition);
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet {
  transition: var(--transition);
  width: 16px;
  border-radius: 2px;
  opacity: 0.3;
  background-color: var(--mainColor);
  margin: 2px !important;
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--mainColor);
  width: 40px;
  opacity: 1;
  transition: var(--transition);
}

.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
}

.select2 {
  min-width: 100px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: unset;
  top: 50%;
  transform: translateY(-50%);
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-results__option--selectable {
  border-radius: 0px;
  margin-bottom: 2px;
  padding: 12px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--mainColor) !important;
  color: var(--whiteColor) !important;
}

.select2-dropdown {
  border-radius: 4px;
  box-shadow: var(--BigShadow) !important;
  border-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0px;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.navbar-toggler .navbar-toggler-icon {
  width: 30px;
  height: 30px;
}

.dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  padding-left: 24px;
}
.dropdown .dropdown-toggle::after {
  content: "\f107";
  font-family: "Font Awesome 6 Pro";
  border: none;
  vertical-align: middle;
  font-size: 12px;
  position: absolute;
  left: 8px;
  top: 55%;
  transform: translateY(-50%);
  color: #777;
}
.dropdown .dropdown-toggle i {
  font-size: 14px;
  color: var(--mainColor);
}
.dropdown .dropdown-item {
  border-radius: 8px;
  padding: 8px 12px;
}
.dropdown .dropdown-item.active, .dropdown .dropdown-item:active {
  background-color: var(--mainColor);
}
.dropdown .dropdown-menu {
  animation: fadeIn 0.3s;
  background-color: var(--whiteColor);
  border: none;
  padding: 8px;
  border: 2px solid var(--mainColor30);
  z-index: 1022;
  flex-direction: column;
  gap: 4px;
  width: auto;
  min-width: 100px;
  transform: unset !important;
}
.dropdown .dropdown-menu .dropdown-item {
  font-size: 13px;
}
.dropdown .dropdown-menu.show {
  top: calc(100% + 10px) !important;
  display: flex;
  right: unset;
  left: 0;
}
.dropdown .dropdown-menu::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--whiteColor);
  position: absolute;
  top: -8px;
  left: 24px;
  transform: rotate(45deg);
  border-radius: 2px;
  z-index: -2;
  border: 2px solid var(--mainColor30);
}
.dropdown .dropdown-menu::after {
  content: "";
  width: calc(100% - 4px);
  height: 24px;
  background-color: var(--whiteColor);
  position: absolute;
  top: 0;
  z-index: -1;
  left: 2px;
  border-radius: 4px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  border: none;
  background-color: transparent;
}

.form-control {
  min-height: 54px;
}
.form-control:focus {
  box-shadow: none;
}

.tooltip {
  --bs-tooltip-bg: var(--textColor);
}
.tooltip .tooltip-inner {
  font-size: 10px;
  padding: 8px 16px !important;
}

header {
  background-color: var(--whiteColor);
  position: sticky;
  left: 0;
  width: 100%;
  z-index: 1024;
  transition: 1s ease-in-out;
  border-bottom: 1px solid #fff;
}

.topNav {
  background-color: var(--mainColor10);
}
.topNav .container {
  display: flex;
  gap: 16px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 4px 0;
}
.topNav .links {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 576px) {
  .topNav .links {
    flex: 1;
    justify-content: center;
  }
}
.topNav .links a {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--blackColor);
}
@media (max-width: 576px) {
  .topNav .links a span {
    display: none;
  }
  .topNav .links a i {
    font-size: 20px;
  }
}
.topNav .links a i {
  color: var(--secondColor);
}
.topNav .dropDowns {
  display: flex;
  gap: 24px;
  align-items: center;
  background-color: var(--whiteColor);
  padding: 12px 24px;
  border-radius: 8px;
}

.navbar {
  background-color: var(--whiteColor);
  padding: 8px 0;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1254901961);
}
.navbar .container {
  gap: 8px;
}
.navbar .logo {
  display: flex;
  flex: 1 200px;
}
.navbar .logo img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px;
}
@media (max-width: 768px) {
  .navbar .logo img {
    height: 40px;
  }
}
.navbar .navbar-collapse {
  flex: 2 750px;
}
.navbar .navbar-collapse .navbar-nav {
  padding: 8px;
  flex: 1;
  justify-content: center;
}
@media (max-width: 768px) {
  .navbar .dropdown .dropdown-menu::before, .navbar .dropdown .dropdown-menu::after {
    display: none !important;
  }
}
.navbar .search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: auto;
}
.navbar .search i {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 32px;
  background-color: var(--mainColor);
  border-radius: 100px;
  color: var(--whiteColor);
  position: absolute;
  right: 8px;
  font-size: 14px;
}
.navbar .search input {
  padding: 12px;
  padding-right: 48px;
}

.mainSlider {
  position: relative;
  overflow: hidden;
}
.mainSlider .swiperBtns {
  position: relative;
  display: flex;
}
.mainSlider .swiperBtns .swiper-pagination {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  position: relative;
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  color: #00897e;
}
.mainSlider .swiperBtns .swiper-pagination .swiper-pagination-current {
  font-size: 30px;
  font-weight: bold;
  margin: 0px 8px;
}
.mainSlider .swiperBtns .swiper-pagination .swiper-pagination-total {
  font-size: 20px;
  margin: 0px 8px;
  opacity: 0.6;
}
.mainSlider .swiperBtns .swiper-button-next,
.mainSlider .swiperBtns .swiper-button-prev {
  position: relative;
  right: unset;
  top: unset;
  left: unset;
  bottom: unset;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00897e;
  width: auto;
  transition: all 0.3 ease-in-out;
}
.mainSlider .swiperBtns .swiper-button-next::after,
.mainSlider .swiperBtns .swiper-button-prev::after {
  font-size: 40px;
  font-family: "Font Awesome 6 Pro";
  font-weight: 300;
}
@media (max-width: 768px) {
  .mainSlider .swiperBtns .swiper-button-next::after,
  .mainSlider .swiperBtns .swiper-button-prev::after {
    font-size: 30px;
  }
}
.mainSlider .swiperBtns .swiper-button-next:hover,
.mainSlider .swiperBtns .swiper-button-prev:hover {
  color: #00897e;
}
.mainSlider .swiperBtns .swiper-button-next {
  right: unset;
}
.mainSlider .swiperBtns .swiper-button-next::after {
  content: "\f105" !important;
}
.mainSlider .swiperBtns .swiper-button-prev::after {
  content: "\f105" !important;
  transform: scaleX(-1);
}
.mainSlider .mainSliderContainer {
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
}
.mainSlider .mainSliderContainer .swiper-slide {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 112px);
  isolation: isolate;
}
@media (max-width: 768px) {
  .mainSlider .mainSliderContainer .swiper-slide {
    height: calc(100vh - 108px);
  }
}
.mainSlider .mainSliderContainer .swiper-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(43, 78, 158, 0.7568627451);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.mainSlider .mainSliderContainer .swiper-slide .info {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
}
@media (max-width: 768px) {
  .mainSlider .mainSliderContainer .swiper-slide .info {
    padding: 20px;
  }
}
.mainSlider .mainSliderContainer .swiper-slide .info .sliderTitle {
  color: #fff;
  font-weight: bold;
  font-size: 32px !important;
}
@media (max-width: 768px) {
  .mainSlider .mainSliderContainer .swiper-slide .info .sliderTitle {
    font-size: 24px !important;
  }
}
.mainSlider .mainSliderContainer .swiper-slide .info .hint {
  color: #fff;
}
.mainSlider .mainSliderContainer .swiper-slide .info a {
  margin-top: 30px;
}
.mainSlider .swiper-slide-active .sliderTitle {
  animation: fadeInUp 1s 0.75s both;
}
.mainSlider .swiper-slide-active .hint {
  animation: fadeInUp 1s 0s both;
}
.mainSlider .swiper-slide-active a {
  animation: fadeInUp 1s 1.5s both;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.mainSlider .swiperBtns {
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .mainSlider .swiperBtns {
    display: none;
  }
}
.mainSlider .swiperBtns .swiper-button-next,
.mainSlider .swiperBtns .swiper-button-prev {
  color: #fff;
}
.mainSlider .swiperBtns .swiper-button-next:hover,
.mainSlider .swiperBtns .swiper-button-prev:hover {
  color: #fff;
}

.btnDefault {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--mainColor);
  overflow: hidden;
  border: 1px solid #fff;
  isolation: isolate;
  min-width: 48px;
}
.btnDefault:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: var(--secondColor);
  position: absolute;
  transition: all 0.4s ease-in-out;
  left: 0;
}
.btnDefault span {
  text-align: center;
  width: 100%;
  padding: 8px 24px;
  color: var(--whiteColor);
  z-index: 20;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 12px;
}
.btnDefault span i {
  font-weight: 400;
}
.btnDefault:hover span {
  color: var(--whiteColor);
  animation: scaleUp 0.3s ease-in-out;
}
.btnDefault:hover::after {
  left: auto;
  right: 0;
  width: 100%;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.SectionTitle {
  position: relative;
  padding: 30px;
  text-align: center;
}
.SectionTitle .title {
  font-weight: bold;
  font-size: 30px !important;
  color: var(--mainColor);
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .SectionTitle .title {
    font-size: 28px !important;
  }
}
.SectionTitle .hint {
  color: var(--textColor);
}

.services {
  padding-top: 50px;
  overflow-x: hidden;
}
.services .swiper-wrapper {
  padding: 30px 0px 50px;
}
.services .swiper-wrapper .swiper-slide {
  width: auto !important;
}
.services .swiper {
  overflow: visible;
}

.flipCard {
  width: 100%;
  height: 400px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  perspective: 1000px;
}
.flipCard .cardFront {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.flipCard .cardFront .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
  color: var(--whiteColor);
  gap: 16px;
}
.flipCard .cardFront .content h5 {
  font-weight: bold;
}
.flipCard .cardFront .content .animatedLink {
  color: var(--whiteColor);
}
.flipCard .cardFront .content .animatedLink i {
  font-size: 24px;
}
.flipCard .cardFront .content .animatedLink span {
  border-color: var(--whiteColor);
}
.flipCard .cardBack {
  padding: 20px;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1058823529);
  background-color: #fff;
}
.flipCard .cardBack .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.flipCard .cardBack .content img {
  width: 64px;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
}
.flipCard .cardBack .content h5 {
  font-weight: bold;
  color: var(--mainColor);
}
.flipCard .cardBack .content p {
  color: #777;
  margin-top: -16px;
}
.flipCard .cardBack .content a {
  margin-top: auto;
  margin-right: auto;
}
.flipCard:hover {
  z-index: 2;
}
.flipCard:hover .cardFront {
  transform: rotateY(-180deg);
}
.flipCard:hover .cardBack {
  transform: rotateY(0deg);
}

.Features {
  background-color: #f2f3f8;
  padding: 70px 0;
  isolation: isolate;
}
.Features .Feature .singleFeature {
  min-width: 250px;
}
.Features .Feature .singleFeature .info {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  background-color: #fff;
  position: relative;
  height: 100%;
  text-align: start;
}
.Features .Feature .singleFeature .info::after {
  background-image: linear-gradient(60deg, rgba(211, 51, 107, 0.7019607843), rgba(46, 84, 173, 0.9019607843)), url(../img/request.jpg);
  height: 100%;
  content: "";
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.Features .Feature .singleFeature .info .content {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.Features .Feature .singleFeature .info .content .icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.Features .Feature .singleFeature .info .content .icon i {
  font-size: 30px;
  color: var(--mainColor);
}
.Features .Feature .singleFeature .info .content .icon img {
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: var(--transition);
}
.Features .Feature .singleFeature .info .content h4 {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.Features .Feature .singleFeature .info .content p {
  color: #777;
  font-size: 14px;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
  margin-top: -8px;
}
.Features .Feature .singleFeature .info .content a {
  padding: 20px 0px 0;
  display: block;
  transition: all 0.3s ease-in-out;
}
.Features .Feature .singleFeature .info .content a i {
  font-size: 20px;
  color: var(--mainColor);
}
.Features .Feature .singleFeature .info:hover::after {
  opacity: 1;
}
.Features .Feature .singleFeature .info:hover .content a i,
.Features .Feature .singleFeature .info:hover .content .icon i {
  color: #fff;
}
.Features .Feature .singleFeature .info:hover .content a img,
.Features .Feature .singleFeature .info:hover .content .icon img {
  filter: brightness(0) grayscale(1) invert(1);
}
.Features .Feature .singleFeature .info:hover .content p,
.Features .Feature .singleFeature .info:hover .content h4 {
  color: #fff;
}
.Features .aboutUs {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}
@media (max-width: 768px) {
  .Features .aboutUs {
    text-align: center;
  }
}
.Features .aboutUs h1 {
  font-weight: bold;
  font-size: 40px !important;
  margin-bottom: 20px;
  color: var(--mainColor);
}
@media (max-width: 768px) {
  .Features .aboutUs h1 {
    font-size: 24px !important;
  }
}
.Features .aboutUs p {
  color: #777;
  font-size: 16px !important;
  line-height: 34px;
}
@media (max-width: 768px) {
  .Features .aboutUs p {
    font-size: 13px !important;
    line-height: 32px;
  }
}
.Features .aboutImg {
  max-width: 500px;
  height: 400px;
  margin: auto;
  position: relative;
}
.Features .aboutImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 64px 0 64px 0;
}
.Features .aboutImg::before {
  content: "";
  width: 102%;
  height: 102%;
  position: absolute;
  right: 0;
  left: 0;
  background-color: var(--mainColor30);
  z-index: -1;
  border-radius: 64px 0 64px 0;
}

.requestQuote {
  padding: 50px 0 80px;
}
.requestQuote .request {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 150px 30px;
  background-color: var(--mainColor);
  border-radius: 24px;
  isolation: isolate;
  overflow: hidden;
  background: linear-gradient(rgba(43, 77, 158, 0.8392156863), rgba(43, 77, 158, 0.8392156863)), url(../img/request.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.requestQuote .request h1 {
  font-weight: bold;
  color: var(--whiteColor);
}

.completedProjects {
  background-color: var(--mainColor10);
  padding: 70px 0;
  position: relative;
}
.completedProjects .title {
  position: sticky;
  top: 150px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .completedProjects .title {
    padding-bottom: 16px;
  }
}
.completedProjects .title h1 {
  font-weight: bold;
  color: var(--mainColor);
  font-size: 40px !important;
}
@media (max-width: 768px) {
  .completedProjects .title h1 {
    font-size: 24px !important;
  }
}
.completedProjects .title p {
  color: var(--textColor);
  width: 90%;
}
.completedProjects .project {
  background-color: var(--whiteColor);
  padding: 16px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}
.completedProjects .project img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/2;
  border-radius: 24px;
  margin-bottom: 20px;
}
.completedProjects .project p {
  color: var(--textColor);
}
.completedProjects .project h6 {
  font-weight: bold;
}

footer {
  border-top: 1px solid #eee;
}
footer .info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}
footer .info .logo {
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .info p {
  width: calc(100% - 40px);
  color: var(--textColor);
}
footer a:hover {
  color: var(--secondColor) !important;
}
footer .icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--blackColor);
  color: var(--blackColor);
  transition: var(--transition);
}
footer .icon:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor) !important;
  transform: translateY(-5px);
  border-color: var(--mainColor);
}

.heroBanner {
  padding: 40px 10px;
  background: linear-gradient(90deg, rgba(43, 78, 158, 0.4745098039), rgba(43, 78, 158, 0.9294117647)), url(../img/13722099_5328478.jpg);
  background-size: cover, 100px 100px;
  color: var(--whiteColor);
}
.heroBanner .breadcrumb {
  padding: 0;
  margin: 0;
}
.heroBanner .breadcrumb a {
  color: var(--whiteColor);
}
.heroBanner .breadcrumb .breadcrumb-item.active {
  color: var(--mainColor30);
}
.heroBanner .breadcrumb .breadcrumb-item:before {
  color: var(--mainColor30);
}
.heroBanner h1 {
  font-size: 40px !important;
  font-weight: bold;
}
@media (max-width: 768px) {
  .heroBanner h1 {
    font-size: 26px !important;
  }
}

.aboutPage {
  padding-top: 70px;
}

.bg-secondary {
  background: #f6f9fc !important;
}

.steps {
  display: flex;
  flex-direction: column;
  margin: -1.5rem 0;
}
.steps .step {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}
.steps .step::before {
  position: absolute;
  right: 2.25rem;
  height: calc(50% - 2.25rem);
  border-right: 1px dashed #777;
  top: 0;
}
.steps .step::after {
  position: absolute;
  right: 2.25rem;
  height: calc(50% - 2.25rem);
  border-right: 1px dashed #777;
  bottom: 0;
}
.steps .step:not(:first-child)::before {
  content: "";
}
.steps .step:not(:last-child)::after {
  content: "";
}
.steps .step-number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 4.5rem;
  height: 4.5rem;
}
.steps .step-number::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.5);
  transition: transform 0.3s ease-in-out, opacity 0.2s;
  border-radius: 50%;
  background-color: rgba(43, 77, 158, 0.062745098);
  opacity: 0;
  content: "";
}
.steps .step-number-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 50%;
  background-color: #eee;
  color: var(--mainColor);
  font-size: 18px;
  font-weight: 700;
  z-index: 2;
}
.steps .step-body {
  padding-right: 1.5rem;
}
.steps.steps-hoverable .step:hover .step-number::before {
  transform: scale(1);
  opacity: 1;
}
.steps.steps-hoverable .step:hover .step-number-inner {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.steps .step.active .step-number::before {
  transform: scale(1);
  opacity: 1;
}
.steps .step.active .step-number-inner {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}

.contactUs {
  padding: 50px 0;
  width: min(100% - 40px, 1320px);
  margin: 0 auto;
}
@media (max-width: 768px) {
  .contactUs {
    padding-top: 0;
  }
}
.contactUs .contact {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 768px) {
  .contactUs .contact {
    gap: 32px;
    margin-bottom: 30px;
  }
}
.contactUs .contact .col {
  flex: 1;
  display: flex;
  position: relative;
  gap: 16px;
  padding: 48px 24px;
  border-radius: 16px;
  background-color: var(--whiteColor);
  box-shadow: var(--BigShadow);
}
.contactUs .contact .col::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 100%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  background-color: var(--mainColor30);
  z-index: -1;
}
.contactUs .contact .col::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 100%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  background-color: var(--mainColor10);
  z-index: -2;
}
.contactUs .contact .col .icon {
  min-width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor10);
  border-radius: 100px;
  margin: auto 0;
  isolation: isolate;
  position: relative;
}
.contactUs .contact .col .icon svg path {
  transition: var(--transition);
}
.contactUs .contact .col .icon::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 100px;
  background-color: var(--mainColor);
  z-index: -1;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.contactUs .contact .col .data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contactUs .contact .col .data h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
.contactUs .contact .col .data a {
  color: var(--textColor);
  min-width: 100px;
}
.contactUs .contact .col .data .info {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.contactUs .contact .col .data .info a {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 8px;
}
.contactUs .contact .col .data .info svg {
  width: 20px;
  height: 20px;
}
.contactUs .contact .col:hover .icon svg path {
  fill: #fff;
}
.contactUs .contact .col:hover .icon::after {
  width: 100%;
  height: 100%;
}
.contactUs .contactForm {
  display: flex;
  gap: 32px;
  margin-bottom: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .contactUs .contactForm {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
  }
}
.contactUs .contactForm form {
  flex: 1;
  background-color: var(--whiteColor);
  padding: 48px 32px;
  border-radius: 16px;
  margin-bottom: 30px;
  box-shadow: var(--BigShadow);
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  width: 100%;
}
.contactUs .contactForm form .inputFeild {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contactUs .contactForm form .inputFeild label {
  color: var(--blackColor);
}
.contactUs .contactForm form .inputFeild textarea,
.contactUs .contactForm form .inputFeild input {
  min-height: 48px;
  box-shadow: none !important;
  color: var(--textColor);
  padding: 8px 12px;
  border: 1px solid #eee !important;
}
.contactUs .contactForm form .col {
  flex: 1;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.contactUs .contactForm form .col .inputFeild {
  flex: 1;
}
.contactUs .contactForm form .btn {
  justify-content: center;
}
.contactUs .contactForm .worldMap {
  width: 500px;
  height: 500px;
  position: relative;
}
.contactUs .contactForm .worldMap .earth {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  margin: -40%;
  background: #fff url(../img/map.webp) 0 50% repeat-x;
  background-size: auto 90%;
  box-shadow: rgba(0, 0, 0, 0.0509803922) 0 50px 60px;
  border-radius: 100%;
  overflow: hidden;
  animation: map linear 90s infinite;
}
.contactUs .contactForm .worldMap .orbic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contactUs .contactForm .worldMap .orbic svg {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.contactUs .contactForm .worldMap #orbic_path {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-linecap: round;
  stroke-width: 4px;
  stroke-dasharray: 1 9;
  animation: orbic linear 2s infinite;
}
.contactUs .contactForm .worldMap #orbic_dots use {
  fill: #fff;
  stroke: rgba(30, 144, 255, 0.25);
  stroke-width: 4;
  animation: dots ease 1s infinite alternate;
}
.contactUs .contactForm .worldMap #orbic_dot1 {
  transform: translate(50.4%, 29.6%);
}
.contactUs .contactForm .worldMap #orbic_dot2 {
  transform: translate(5%, 62.8%);
  animation-delay: 0.2s !important;
}
.contactUs .contactForm .worldMap #orbic_dot3 {
  transform: translate(97%, 41%);
  animation-delay: 0.3s !important;
}
.contactUs .contactForm .worldMap #orbic_dot4 {
  transform: translate(50%, 70.2%);
  animation-delay: 0.5s !important;
}
.contactUs .contactForm .worldMap #orbic_dot5 {
  transform: translate(31.5%, 51.5%);
  animation-delay: 0.7s !important;
}
.contactUs .contactForm .worldMap #orbic_user1 {
  transform: translate(1%, 40%) scale(0.666667);
}
.contactUs .contactForm .worldMap #orbic_user2 {
  transform: translate(18%, 64%) scale(0.666667);
}
.contactUs .contactForm .worldMap #orbic_user3 {
  transform: translate(39.5%, 31%) scale(0.666667);
}
.contactUs .contactForm .worldMap #orbic_user4 {
  transform: translate(69%, 22%) scale(0.666667);
}
.contactUs .contactForm .worldMap #orbic_user5 {
  transform: translate(75%, 53%) scale(0.666667);
}
@keyframes map {
  100% {
    background-position: 220% 50%;
  }
}
@keyframes orbic {
  100% {
    stroke-dashoffset: 10;
  }
}
@keyframes dots {
  100%, 80% {
    stroke: #1e90ff;
  }
}
@media only screen and (max-width: 992px) {
  .contactUs .contactForm .worldMap {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .contactUs .contactForm .worldMap {
    width: 100%;
    position: relative;
  }
  .contactUs .contactForm .worldMap .earth {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: transparent;
    background-size: 100% auto;
    box-shadow: none;
    border-radius: 0;
    animation: none;
  }
}
@media (max-width: 476px) {
  .contactUs .contactForm .worldMap {
    height: 240px;
  }
}
.contactUs .map {
  padding: 0px;
  border-radius: 24px;
  margin-top: 80px;
  width: 100%;
  height: 400px;
  border: 6px solid var(--whiteColor);
  box-shadow: var(--BigShadow);
}
@media (max-width: 476px) {
  .contactUs .map {
    margin-top: 24px;
  }
}

.product {
  padding: 10px;
  background-color: var(--whiteColor);
  isolation: isolate;
  height: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
.product .productSlider {
  border-radius: 12px;
  width: 100%;
}
.product .productSlider img {
  height: 200px;
  border-radius: 12px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.product .swiper-button-prev,
.product .swiper-button-next {
  color: #d6d6d6;
  width: 20px;
  height: 20px;
  transition: var(--transition);
  border-radius: 100px;
}
.product .swiper-button-prev:hover,
.product .swiper-button-next:hover {
  background-color: var(--whiteColor);
  color: var(--mainColor);
}
.product .swiper-button-prev::after, .product .swiper-button-prev::before,
.product .swiper-button-next::after,
.product .swiper-button-next::before {
  font-weight: 300;
  font-size: 14px;
}
.product .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}
.product .content a {
  color: var(--blackColor);
  padding: 12px;
}
.product .content a:hover {
  color: var(--secondColor);
}
.product .content .control {
  display: flex;
  gap: 8px;
  margin-top: auto;
}
.product .content .control .quantity {
  border: 1px solid #eee;
  background-color: var(--whiteColor);
  border-radius: 8px;
  display: flex;
}
.product .content .control .quantity input {
  border: none;
  margin: 0 5px;
  text-align: center;
  width: 100%;
  min-width: 20px;
}
.product .content .control .quantity button {
  border: none;
  min-width: 32px;
  min-height: 32px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 24px !important;
  color: var(--mainColor);
}
@media (max-width: 992px) {
  .product .content .control .quantity button {
    min-width: 32px;
    min-height: 32px;
  }
}
.product .content .control .favorite {
  border-radius: 100px;
  min-width: 28px;
  min-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  background-color: #e6e6e6;
  color: var(--textColor);
}
.product .content .control .favorite.active {
  color: var(--whiteColor);
  background-color: red;
}

.shop {
  padding: 40px 20px;
}
@media (max-width: 768px) {
  .shop {
    padding: 40px 0 0;
  }
}
.shop .shopSide {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.shop .shopSide .topBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.shop .shopSide .topBtn .btn {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.shop .shopSide .form-check {
  display: flex;
  gap: 8px;
  align-items: center;
}
.shop .shopSide .form-check .form-check-label {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 1;
}
.shop .shopSide .form-check .form-check-label img {
  width: 60px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.shop .accordionItem {
  display: flex;
  flex-direction: column;
}
.shop .accordionItem .accordionButton {
  border: none;
  border-bottom: 1px solid var(--mainColor30);
  padding: 16px 0;
  display: flex;
  font-weight: bold;
  position: relative;
}
.shop .accordionItem .accordionButton::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--secondColor);
  border-radius: 10px;
  transition: var(--transition);
}
.shop .accordionItem .accordionButton .plus {
  position: absolute;
  left: 8px;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
}
.shop .accordionItem .accordionButton .plus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 1px;
  background-color: var(--secondColor);
  border-radius: 10px;
  transition: var(--transition);
}
.shop .accordionItem .accordionButton .plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 1px;
  background-color: var(--secondColor);
  border-radius: 10px;
  transition: var(--transition);
  transform: rotate(0deg);
}
.shop .accordionItem .accordionButton.collapsed::before {
  width: 10px;
}
.shop .accordionItem .accordionButton.collapsed .plus::after {
  transform: rotate(90deg);
}
.shop .accordionItem .accordionData {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 24px;
}
.shop .allProducts {
  padding: 8px;
  border-radius: 16px;
  background-color: rgba(43, 78, 158, 0.05);
}
.shop .allProducts .listShow .product {
  flex-direction: row;
  gap: 8px;
}
.shop .allProducts .listShow .product .productSlider {
  width: 120px;
}
.shop .allProducts .listShow .product .productSlider img {
  height: 100%;
  aspect-ratio: 1/1;
}
.shop .allProducts .listShow .content {
  flex: 1;
}
.shop .allProducts .listShow .content .control {
  flex-wrap: wrap;
}
.shop .allProducts .listShow .content .control .quantity {
  flex: 1 160px;
}
.shop .allProducts .listShow .content .control button {
  flex: 1 80px;
  justify-content: center;
  min-height: 32px;
}
.shop .showType {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  gap: 8px;
  padding-bottom: 16px;
}
.shop .showType p {
  color: var(--textColor);
  white-space: nowrap;
}
.shop .showType .displayType {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .shop .showType .displayType {
    flex-direction: column;
  }
}
.shop .showType .displayType i {
  font-size: 24px;
}
.shop .showType .displayType button {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop .showType .displayType .btns {
  display: flex;
  align-items: center;
  gap: 8px;
}
.shop .showType .orderBy {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 768px) {
  .shop .showType .orderBy {
    flex-direction: column;
  }
}
.shop .showType .orderBy .select2 {
  min-width: 150px;
}
.shop .showType .orderBy .select2-container--default .select2-selection--single {
  min-height: 40px;
}

.rate {
  padding: 0;
  margin-bottom: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2px;
}
.rate i {
  color: var(--gold);
}

.productDetailsPage {
  background: var(--whiteColor);
  border-radius: 16px;
  margin-bottom: 10px;
}
.productDetailsPage .productDetailsSlider img {
  padding: 10px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
  cursor: zoom-in;
}
.productDetailsPage .info {
  padding: 20px 10px;
}
.productDetailsPage .info .productImg {
  width: 100%;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
  margin-bottom: 12px;
}
.productDetailsPage .info .name {
  color: var(--blackColor);
  margin-bottom: 12px;
}
.productDetailsPage .info .price {
  font-weight: bold;
  font-size: 28px !important;
  color: var(--mainColor);
}
.productDetailsPage .info .price span {
  font-weight: normal;
  font-size: 14px !important;
  color: var(--textColor);
}
.productDetailsPage .info .shop {
  background: linear-gradient(90deg, #0285ce, #5bc3ff);
  padding: 10px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productDetailsPage .info .shop .details {
  display: flex;
  align-items: center;
}
.productDetailsPage .info .shop .details img {
  width: 64px;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100%;
}
.productDetailsPage .info .shop .details h4 {
  color: var(--whiteColor);
  font-weight: bold;
}
.productDetailsPage .info .shop .link {
  color: var(--whiteColor);
}
.productDetailsPage .info .Specifications {
  margin: 20px 0;
  padding: 20px 16px;
  background: #e6f3fa;
  border-radius: 16px;
}
.productDetailsPage .info .Specifications h4 {
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--secondColor);
}
.productDetailsPage .info .Specifications li {
  color: var(--textColor);
  margin-bottom: 10px;
}
.productDetailsPage .productControl {
  text-align: center;
}
.productDetailsPage .productControl .btn {
  padding: 10px 30px;
}
.productDetailsPage .productControl .btn.btn-danger {
  background-color: red;
}
.productDetailsPage .control {
  display: flex;
  gap: 8px;
  margin-top: auto;
  padding: 24px 0;
  flex-wrap: wrap;
}
.productDetailsPage .control .quantity {
  border: 1px solid #eee;
  background-color: var(--whiteColor);
  border-radius: 8px;
  display: flex;
  flex: 1 250px;
  min-height: 48px;
}
.productDetailsPage .control .quantity input {
  border: none;
  margin: 0 5px;
  text-align: center;
  width: 100%;
  min-width: 20px;
}
.productDetailsPage .control .quantity button {
  border: none;
  min-width: 32px;
  min-height: 32px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 24px !important;
  color: var(--mainColor);
}
@media (max-width: 992px) {
  .productDetailsPage .control .quantity button {
    min-width: 32px;
    min-height: 32px;
  }
}
.productDetailsPage .control button {
  flex: 1 110px;
  justify-content: center;
  min-height: 48px;
  white-space: nowrap;
}
.productDetailsPage .control .favorite {
  max-width: 48px;
  border-radius: 100px;
}
.productDetailsPage .control .favorite.active {
  color: var(--whiteColor);
  background-color: red;
}
.productDetailsPage .detailsTabs {
  padding: 24px;
  border-top: 1px solid #dcdcdc;
  margin-top: 50px;
  background-color: #fcfcfc;
  border-radius: 16px;
}
.productDetailsPage .detailsTabs .nav-item .nav-link {
  color: var(--mainColor);
}
.productDetailsPage .detailsTabs .nav-item .nav-link.active {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.productDetailsPage .detailsTabs .tabsButtons {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 15px;
  margin-bottom: 29px;
}
@media (max-width: 768px) {
  .productDetailsPage .detailsTabs .tabsButtons ul li {
    margin-bottom: 5px;
  }
  .productDetailsPage .detailsTabs .tabsButtons ul li:last-child {
    margin-bottom: 0;
  }
}
.productDetailsPage .detailsTabs .tabsButtons ul li a {
  display: block;
  text-transform: capitalize;
  font-size: 20px;
  color: #555;
  margin-left: 35px;
  line-height: 26px;
  position: relative;
}
@media (max-width: 768px) {
  .productDetailsPage .detailsTabs .tabsButtons ul li a {
    margin-left: 25px;
    font-size: 17px;
  }
}
.productDetailsPage .detailsTabs .tabsButtons ul li a.active {
  color: var(--secondColor);
}
.productDetailsPage .detailsTabs .tabsButtons ul li a:hover {
  color: var(--secondColor);
}
.productDetailsPage .detailsTabs .tabsButtons ul li:last-child a {
  margin-left: 0;
}
.productDetailsPage .detailsTabs .infoTable {
  border-top: 1px solid #ddd;
  padding: 10px 0 22px;
  width: 100%;
}
.productDetailsPage .detailsTabs .infoTable tbody tr {
  border-bottom: 1px solid #ddd;
}
.productDetailsPage .detailsTabs .infoTable tbody tr td {
  padding: 7px 17px;
  border-left: 1px solid #ddd;
}
.productDetailsPage .detailsTabs .infoTable tbody tr td:first-child {
  width: 30%;
}
.productDetailsPage .detailsTabs .productInfoContent {
  line-height: 35px;
  margin-bottom: 24px;
}
.productDetailsPage .detailsTabs .tab-content {
  padding-top: 24px;
}
.productDetailsPage .reviews_wrapper .product_ratting {
  margin-bottom: 20px;
}
.productDetailsPage .reviews_wrapper .product_ratting ul li a {
  color: var(--secondColor);
}
.productDetailsPage .reviews_wrapper .product_ratting h3 {
  font-size: 14px;
  text-transform: capitalize;
}
.productDetailsPage .reviews_wrapper .reviews_comment_box {
  display: flex;
  margin-bottom: 22px;
  gap: 20px;
}
@media (max-width: 568px) {
  .productDetailsPage .reviews_wrapper .reviews_comment_box {
    flex-direction: column;
  }
}
.productDetailsPage .reviews_wrapper .reviews_comment_box .comment_text {
  width: 100%;
  border: 1px solid #dcdcdc;
  position: relative;
  padding: 12px;
  border-radius: 3px;
}
.productDetailsPage .reviews_wrapper .reviews_comment_box .comment_text::before {
  background: #fcfcfc;
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  content: "";
  display: block;
  height: 10px;
  right: -6px;
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  width: 10px;
}
@media (max-width: 568px) {
  .productDetailsPage .reviews_wrapper .reviews_comment_box .comment_text::before {
    top: -6px;
    right: 10px;
    transform: rotate(225deg);
  }
}
.productDetailsPage .reviews_wrapper .reviews_comment_box .comment_text .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.productDetailsPage .reviews_wrapper .reviews_comment_box .comment_text .user h6 {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 4px;
}
.productDetailsPage .reviews_wrapper .reviews_comment_box .comment_text .user h6 span {
  font-weight: normal;
  color: #999;
  font-size: 12px;
}
@media (max-width: 768px) {
  .productDetailsPage .reviews_wrapper .reviews_comment_box .comment_text .user h6 span {
    display: block;
  }
}
.productDetailsPage .reviews_wrapper .reviews_comment_box .comment_text p {
  padding: 20px 10px;
}
.productDetailsPage .reviews_wrapper .reviews_comment_box .comment_img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.productDetailsPage .rateForm {
  margin-top: 50px;
  padding: 30px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  background-color: var(--mainColor10);
  border-radius: 16px;
  align-items: end;
}
@media (max-width: 768px) {
  .productDetailsPage .rateForm {
    padding: 16px;
  }
}
.productDetailsPage .rateForm .secondTitle {
  flex: 1;
  width: 100%;
}
.productDetailsPage .rateForm .secondTitle .stars {
  display: inline-flex;
  flex-direction: row-reverse;
}
.productDetailsPage .rateForm .secondTitle .stars input {
  display: none;
}
.productDetailsPage .rateForm .secondTitle .stars input:checked ~ label.star:before {
  font-weight: bold;
  color: #fd4;
  transition: var(--transition);
}
.productDetailsPage .rateForm .secondTitle .stars label {
  padding: 2px;
  font-size: 20px;
  color: var(--textColor);
  transition: var(--transition);
}
.productDetailsPage .rateForm .secondTitle .stars label:hover {
  transform: rotate(-15deg) scale(1.3);
}
.productDetailsPage .rateForm .secondTitle .stars label:before {
  content: "\f005";
  font-family: "Font Awesome 6 Pro";
  font-weight: 100;
}
.productDetailsPage .rateForm input.star-5:checked ~ label.star:before {
  color: #fe7;
}
.productDetailsPage .rateForm input.star-1:checked ~ label.star:before {
  color: red;
}

.cartPage {
  margin: 30px 0;
}
.cartPage .cart {
  background-color: #e6f3fa;
  border-radius: 16px;
  padding: 8px;
  position: relative;
  border: 1px solid var(--mainColor30);
  margin-left: 20px;
}
@media (max-width: 768px) {
  .cartPage .cart {
    margin-left: 0;
  }
}
.cartPage .cart .cartProducts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cartPage .cart .cartProducts .cartProduct {
  display: flex;
  background-color: var(--whiteColor);
  border-radius: 16px;
  padding: 20px;
}
@media (max-width: 992px) {
  .cartPage .cart .cartProducts .cartProduct {
    padding: 10px;
  }
}
.cartPage .cart .cartProducts .cartProduct a {
  display: block;
  margin-left: 10px;
}
.cartPage .cart .cartProducts .cartProduct a img {
  height: 150px;
  min-width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .cartPage .cart .cartProducts .cartProduct a img {
    height: 100px;
    min-width: 100px;
  }
}
.cartPage .cart .cartProducts .cartProduct .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 992px) {
  .cartPage .cart .cartProducts .cartProduct .info {
    padding: 10px 0;
  }
}
.cartPage .cart .cartProducts .cartProduct .info .name {
  color: var(--blackColor);
}
.cartPage .cart .cartProducts .cartProduct .info .control {
  display: flex;
  gap: 8px;
  margin-top: auto;
}
.cartPage .cart .cartProducts .cartProduct .info .control .quantity {
  border: 1px solid #eee;
  background-color: var(--whiteColor);
  border-radius: 8px;
  display: flex;
}
.cartPage .cart .cartProducts .cartProduct .info .control .quantity input {
  border: none;
  margin: 0 5px;
  text-align: center;
  width: 100%;
  min-width: 20px;
}
.cartPage .cart .cartProducts .cartProduct .info .control .quantity button {
  border: none;
  min-width: 32px;
  min-height: 32px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 24px !important;
  color: var(--mainColor);
}
@media (max-width: 992px) {
  .cartPage .cart .cartProducts .cartProduct .info .control .quantity button {
    min-width: 32px;
    min-height: 32px;
  }
}
.cartPage .sectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cartPage .sectionTitle .title {
  position: relative;
  font-weight: bold;
  padding-right: 20px;
}
.cartPage .sectionTitle .title::before {
  content: "";
  width: 10px;
  height: 100%;
  background-color: var(--secondColor);
  position: absolute;
  right: 0;
  top: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.cartPage .sectionTitle a {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px !important;
  padding-right: 10px;
}
.cartPage .checkout {
  background-color: var(--secondColor10);
  border: 1px solid var(--secondColor30);
  border-radius: 16px;
  padding: 16px 8px;
}
@media (max-width: 768px) {
  .cartPage .checkout {
    margin-top: 20px;
  }
}
.cartPage .bill {
  background-color: var(--whiteColor);
  border-radius: 16px;
  margin-top: 20px;
  padding: 8px;
  list-style: none;
}
.cartPage .bill li {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #eee;
}
.cartPage .bill li:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
.cartPage .bill li img {
  width: 72px;
  height: 72px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
  margin-left: 10px;
}
.cartPage .bill li .info p {
  font-weight: bold;
  margin-bottom: 10px;
}
.cartPage .bill li .info span {
  color: var(--mainColor);
  font-weight: bold;
}

.favoritePage {
  padding: 50px 0;
}
.favoritePage .product {
  box-shadow: var(--shadow);
}

/* PC device :991px. */
@media (min-width: 991px) {
  body {
    font-size: 12px !important;
  }
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 14px !important;
  }
  a,
  p {
    font-size: 12px !important;
  }
}
@media (max-width: 991px) {
  body {
    font-size: 12px !important;
  }
  h1 {
    font-size: 21px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 17px !important;
  }
  h4 {
    font-size: 16px !important;
  }
  h5 {
    font-size: 14px !important;
  }
  h6 {
    font-size: 13px !important;
  }
  a,
  p {
    font-size: 12px !important;
  }
}/*# sourceMappingURL=style.css.map */